{% extends "base.html" %} 
{% block title %}Cadastrar Salas{% endblock %}

{%block conteudo%}

<form action="{{ url_for('auth.cadastrar_sala') }}" method="POST">
    <div class="container">

        <br>
        
        <h1 align="center">Cadastrar Sala</h1>
        <div class="form-group">
            <label for="numero">Número</label>
            <input type="number" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="numero" name="numero" placeholder="Número da sala"/>
        </div>

        <br>

            <div class="col">
                <div class="row">
                    <div class="container  ">  
                        <div class="form-check">
                            <h6>Tipo de sala</h6>
                            <input class="form-check-input" type="radio" name="tipo_sala" id="tipo_sala_a" value="1">Sala de aula</input>
                            
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tipo_sala" id="tipo_sala_l" value="2">
                            <label class="form-check-label" for="tipo_sala_l">
                                Laboratório
                            </label>
                        </div> 
                    </div>
                </div>
            </div>
            <br>
            <div class="col">   
                <div class="row">
                    <div class="container  ">  
                        <div class="form-check">
                            <h6>Bloco</h6>
                            <input class="form-check-input" type="radio" name="bloco" id="bloco1" value="1">
                            <label class="form-check-label" for="bloco1" >
                                Bloco 1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="bloco" id="bloco2" value="2">
                            <label class="form-check-label" for="bloco2">
                                Bloco 2
                            </label>
                        </div> 
                    </div>
            </div></div>
            <br>
            <div class="col">
                <div class="container  ">  
                    <div class="form-check">
                        <h6>Andar</h6>
                        <input class="form-check-input" type="radio" name="andar" id="andar-t" value="1">
                        <label class="form-check-label" for="andar-t">
                            Térreo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="andar" id="andar1" value="2">
                        <label class="form-check-label" for="andar1">
                            1° andar
                        </label>
                    </div> 
                </div>
            </div>
            <br>
            <div class="col">   
                <div class="container  ">
                    <div class="form-check">
                        <h6>Tipo de quadro</h6>
                        <input class="form-check-input" type="radio" name="tipo-quadro" id="tipo-quadro-l" value="1">
                        <label class="form-check-label" for="tipo-quadro-l">
                            Lousa
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo-quadro" id="tipo-quadro-q" value="2">
                        <label class="form-check-label" for="tipo-quadro-q">
                            Quadro negro
                        </label>
                    </div> 
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo-quadro" id="tipo-quadro-n" value="3">
                        <label class="form-check-label" for="tipo-quadro-n">
                            Não possui
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-auto">
                <div class="container  ">  
                    <div class="form-check">
                        <h6>Projetor</h6>
                        <input class="form-check-input" type="radio" name="projetor" id="projetor-p" value="1">
                        <label class="form-check-label" for="projetor-p">
                            Possui
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="projetor" id="projetor-n" value="2">
                        <label class="form-check-label" for="projetor-n">
                            Não possui
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-auto">
                <div class="container  ">
                    <div class="form-check">
                        <h6>Ar-condicionado</h6>
                        <input class="form-check-input" type="radio" name="ac" id="ac-p" value="1">
                        <label class="form-check-label" for="ac-p">
                            Possui
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ac" id="ac-n" value="2">
                        <label class="form-check-label" for="ac-n">
                            Não possui
                        </label>
                    </div>
                </div>
            </div>
                
            

        <br />
        <br />

        <button type="submit" class="btn btn-primary">Cadastrar sala</button>
        <br />
        <br />
    </div>
</form>
{% endblock %}